* {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 24px;
}

body,
html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;
	background-color: rgb(238, 232, 232);
}
.list {
	margin: 0;
	padding: 5rem;
}
ul {
	list-style-type: none;
}

li {
	display: flex;
}
button {
	color: rgb(202, 202, 202);
	background-color: #696969;
	border: none;
	border-radius: 50px;
	margin: 0.5rem 0;
	padding: 5px 1rem;
	cursor: pointer;
}

img {
	height: 100px;
	width: 100px;
}