* {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 24px;
}

body,
html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;
	background-color: rgb(241, 229, 229);
	/* background-color: red; */
}
.list {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin: 0;
	padding: 5rem;
	list-style-type: none;
}
.list-item {
	display: flex;
}
.btn {
	color: rgb(124, 124, 124);
	background-color: transparent;
	border: none;
	margin: 0.5rem 0;
	padding: 5px 1rem;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img {
	height: 108px;
	width: 192px;
	object-fit: cover;
	border: 3px solid #ffd700;
	border-radius: 10px;
	margin-bottom: 5px;
}