@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
	font-size: 24px;
	color: white;
}

body,
html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;
	background-color: #00523f;
	/* border-radius: 50px; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.login-container {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* padding-left: 7rem;
        padding-top: 7.3rem;
        padding-right: 13rem; */
	padding: 4rem 13rem 0 7rem;
}
.logo {
	/* width: 350px;
	height: 128px; */
	align-self: center;
}
.welcome {
	font-family: Risque;
	font-size: 3rem;
	padding: 0.9rem 0 1.5rem 0;
	text-align: center;
}

.label {
	font-family: Roboto;
	font-size: 26px;
}

.input {
	background-color: transparent;
	border: none;
	border-bottom: 3px solid white;
	width: 20rem;
	height: 2rem;
}
.input-username {
	border-color: #ffc42a;
	margin-bottom: 2rem;
}
.forgot {
	font-family: Roboto;
	text-align: end;
	padding: 0.33rem 0 0.6rem 0;
	cursor: pointer;
}
.login {
	font-family: Roboto;
	font-size: 26px;
	background-color: #ffc42a;
	color: #00523f;
	border: none;
	border-radius: 10px;
	height: 3rem;
	margin-bottom: 6.5rem;
	cursor: pointer;
}

.ig-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
/* .ig-icon {
	width: 60px;
	height: 60px;
} */
.ig-id {
	font-family: Risque;
	font-size: 2rem;
	padding-left: 3px;
}
.yellow-container {
	position: relative;
	height: 100%;
}
.yellow {
	height: 100%;
	position: absolute;
	right: 0;
	z-index: 0;
}
.human-lamp-container {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
}
.human {
	/* display: flex; */
	z-index: 1;
	width: 380px;
	height: 411px;
	padding-top: 11rem;
	padding-left: 18rem;
	/* object-fit: none; */
}
.lamp {
	object-fit: none; 
	padding-left: 15rem;
	position: absolute;
}
